/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/clock/rockchip,rk3576-cru.h>

/ {
        metadata {
                title = "Enable Sony IMX290 Camera";
                compatible = "radxa,rock-4d";
                category = "camera";
                exclusive = "GPIO3_D6", "GPIO4_A1", "csi2_dcphy0", "i2c4";
                description = "Enable Sony IMX290 MIPI CSI-2 camera.";
        };
};

&{/} {
        /*
         * GPIO3_D6 is assumed to enable power to the complete camera module,
         * as it did in the OV9281 overlay.
         *
         * The module is assumed to contain its own AVDD, DVDD and DOVDD
         * regulators. Therefore, this one module-power regulator is used
         * as the source for all three driver supply names.
         */
        camera_power_gpio: camera-power-gpio {
                compatible = "regulator-fixed";
                regulator-name = "camera_power_gpio";
                regulator-always-on;
                regulator-boot-on;

                enable-active-high;
                gpio = <&gpio3 RK_PD6 GPIO_ACTIVE_HIGH>;

                pinctrl-names = "default";
                pinctrl-0 = <&cam_power_gpio>;
        };

};

&i2c4 {
        status = "okay";
        pinctrl-0 = <&i2c4m3_xfer>;

        #address-cells = <1>;
        #size-cells = <0>;

        imx290: imx290@1a {
                status = "okay";
                compatible = "sony,imx290lqr";
                reg = <0x1a>;

                /*
		 * Physical clock output routed to the FFC connector:
		 * CAM_CLK2_OUT_M0 on GPIO4_A1.
                 */
		clocks = <&cru CLK_MIPI_CAMERAOUT_M2>;
		clock-names = "xclk";

		assigned-clocks = <&cru CLK_MIPI_CAMERAOUT_M2>;
		assigned-clock-rates = <37125000>;

		clock-frequency = <37125000>;

		pinctrl-names = "default";
		pinctrl-0 = <&cam_clk2m0_clk2>;

                /*
                 * Names must match the driver's supply list:
                 *
                 *     vdda
                 *     vddd
                 *     vdddo
                 *
                 * This assumes the camera board generates the individual
                 * sensor voltages internally after module power is enabled.
                 */
                vdda-supply = <&camera_power_gpio>;
                vddd-supply = <&camera_power_gpio>;
                vdddo-supply = <&camera_power_gpio>;

                /*
                 * Do not add reset-gpios here unless the camera connector
                 * actually routes a separate IMX290 reset pin.
                 *
                 * The driver treats reset as optional.
                 */

                rockchip,camera-module-index = <0>;
                rockchip,camera-module-facing = "back";
                rockchip,camera-module-name = "imx290";
                rockchip,camera-module-lens-name = "default";

                port {
                        imx290_out0: endpoint {
                                remote-endpoint =
                                        <&mipidcphy0_in_ucam0>;

				clock-lanes = <0>;
                                data-lanes = <1 2>;

                                /*
                                 * Required by this driver. It checks that
                                 * every supported two-lane mode frequency
                                 * is listed in the device tree.
                                 */
                                link-frequencies =
                                        /bits/ 64 <445500000 297000000>;
                        };
                };
        };
};

&csi2_dphy0_hw {
        status = "okay";
};

&csi2_dphy1_hw {
        status = "okay";
};

&csi2_dcphy0 {
        status = "okay";

        ports {
                #address-cells = <1>;
                #size-cells = <0>;

                port@0 {
                        reg = <0>;

                        #address-cells = <1>;
                        #size-cells = <0>;

                        mipidcphy0_in_ucam0: endpoint@2 {
                                reg = <2>;
                                remote-endpoint = <&imx290_out0>;
				clock-lanes = <0>;
                                data-lanes = <1 2>;
                        };
                };

                port@1 {
                        reg = <1>;

                        #address-cells = <1>;
                        #size-cells = <0>;

                        csidcphy0_out: endpoint@0 {
                                reg = <0>;
                                remote-endpoint = <&mipi0_csi2_input>;
                        };
                };
        };
};

&mipi0_csi2 {
        status = "okay";

        ports {
                #address-cells = <1>;
                #size-cells = <0>;

                port@0 {
                        reg = <0>;

                        #address-cells = <1>;
                        #size-cells = <0>;

                        mipi0_csi2_input: endpoint@1 {
                                reg = <1>;
                                remote-endpoint = <&csidcphy0_out>;
                        };
                };

                port@1 {
                        reg = <1>;

                        #address-cells = <1>;
                        #size-cells = <0>;

                        mipi0_csi2_output: endpoint@0 {
                                reg = <0>;
                                remote-endpoint = <&cif_mipi0_in0>;
                        };
                };
        };
};

&rkcif {
        status = "okay";
};

&rkcif_mmu {
        status = "okay";
};

&rkcif_mipi_lvds {
        status = "okay";

        port {
                cif_mipi0_in0: endpoint {
                        remote-endpoint = <&mipi0_csi2_output>;
                };
        };
};

&rkcif_mipi_lvds_sditf {
        status = "okay";

        port {
                mipi_lvds_sditf: endpoint {
                        remote-endpoint = <&isp_vir0>;
                };
        };
};

&rkisp_mmu {
        status = "okay";
};

&rkisp {
        status = "okay";
};

&rkisp_vir0 {
        status = "okay";

        port {
                #address-cells = <1>;
                #size-cells = <0>;

                isp_vir0: endpoint@0 {
                        reg = <0>;
                        remote-endpoint = <&mipi_lvds_sditf>;
                };
        };
};

&rkisp_vir0_sditf {
        status = "okay";
};

&rkvpss {
        status = "okay";
};

&rkvpss_mmu {
        status = "okay";
};

&rkvpss_vir0 {
        status = "okay";
};

&pinctrl {
        camera {
                cam_power_gpio: cam-power-gpio {
                        rockchip,pins =
                                <3 RK_PD6 RK_FUNC_GPIO &pcfg_pull_up>;
                };
        };
};
